a:link, a:visited {
  color: lightgray;
}

body {
  background-color: skyblue;
}

div {
  background-color: rgba(0, 0, 0, 0.5);
  color: lightgray;
  display: block;
  margin: auto;
  padding: 1em;
  text-align: center;
  width: 90%;
}

header h1 {
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px gray;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);;
  color: white;
  display: block;
  margin: auto;
  padding: 1em;
  text-align: center;
  width: 90%;
}

.tweets h3 {
  text-decoration: underline;
}
