<% if Helpers.is_logged_in?(@session) %>
  <div class="welcome">
    <h2>Welcome, <%= @user.username %>!</h2>
  </div>

  <div class="tweet">
    <h3>~ Tweet ~</h3>
    <form class="edit_tweet" action="<%="/tweets/#{@user.id}"%>" method="POST">
      <textarea name="content" id="content"><%= @tweet.content %></textarea>
      <input type="submit" value="submit">
    </form>
  </div>

  <div class="logout">
    <a href="/logout">Log Out</a>
  </div>


<% else %>
  <a href="/">Home</a> <a href="/login">Log In</a> <a href="/signup">Sign Up</a>
<% end %>
