<% if Helpers.is_logged_in?(@session) %>
  <div class="welcome">
    <h2>Welcome, <%= @user.username %>!</h2>
  </div>

  <div class="tweets">
    <h3>~ Your Tweets ~</h3>
    <% @user.tweets.each do |tweet| %>
      <p>
        <%= tweet.content %>
      </p>
      <a href="/tweets/:id">look at this tweet</a>
    <% end %>
  </div>

  <div class="logout">
    <a href="/logout">Log Out</a>
  </div>


<% else %>
  <a href="/">Home</a> <a href="/login">Log In</a> <a href="/signup">Sign Up</a>
<% end %>
