<% if Helpers.is_logged_in?(@session) %>
  <nav>
    <a href="/">Home</a> ~
    <a href="/tweets">My Tweets</a> ~
    <a href="/tweets/new">Tweet</a> ~
    <a href="/logout">Log Out</a>
  </nav>
  <div class="welcome">
    <h2>Welcome, <%= @user.username %>!</h2>
  </div>

  <div class="tweets">
    <h3>~ Your Tweets ~</h3>
    <% @user.tweets.each do |tweet| %>
      <p>
        <%= tweet.content %>
        <a href="/tweets/:id">view</a>
      </p>

    <% end %>
  </div>

  <div class="logout">
    <a href="/logout">Log Out</a>
  </div>


<% else %>
  <a href="/">Home</a> <a href="/login">Log In</a> <a href="/signup">Sign Up</a>
<% end %>
