<div class="login">
  <h1>Sign Up</h1>
  <form class="create_user" action="/signup" method="post">
    <input type="text" name="username" placeholder="Username:">
    <input type="email" name="email" placeholder="Email:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" name="submit" value="Sign Up">
  </form>
</div>

<div class="visit_signup">
  <p>
    Already have an account? Visit the <a href="/login">login page</a> to log in.
  </p>
</div>
