<div class="login">
  <h2>Log In</h2>
  <form class="login" action="/login" method="post">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <input id="submit" type="submit" name="name" value="Log In">
  </form>
</div>

<div class="visit_signup">
  <p>
    Don't have an account? Visit the <a href="/signup">signup page</a> to create a new account.
  </p>
</div>
