<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Fwitter</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Fwitter</a></h1>
    </header>

    <%= yield %>

    <footer>
      <p>
        Crafted by
        <a href="https://github.com/HarlemSquirrel">HarlemSquirrel</a>
        and
        <a href="https://github.com/yangc5">yangc5</a>
      </p>
    </footer>
  </body>
</html>
